@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}

/* estilo nav */

.nav-bar{
  padding: 15px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 119, 182, 0.5);
}

.h1-nav{
  font-size: 35px;
  padding: 10px;
}

.li-nav:hover{
  background-color:rgba(0, 180, 216, 0.4);
  border-radius: 30px;
  box-shadow: rgb(144, 224, 239) 2px 2px;
}

ul{
  padding: 5px;
  margin-top: 8px;
  list-style-type: none;
}

li{
  display: inline;
  padding: 15px;
}

a{
  text-decoration: none;
  color: black;
}

/* fin estilo nav */

/* estilo lista */
.todos{
   display: flex;
   justify-content: center;
   padding: 20px;
}

.todo-lista{
  padding: 20px;
  margin-top: 5px;
}

.h2-todo{
  padding: 10px;
  color: rgba(3, 4, 94, 0.9);
  font-size: 35px;
}

.p-todo{
  padding: 10px;
}

.todo-lista:hover{
  background-color: rgba(173, 232, 244, 0.3);
  border-radius: 30px;
  box-shadow: rgb(144, 224, 239) 2px 2px;
}

/* fin estilo lista */